name: Deploy site

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 192.168.124.6
          username: egor
          key: ${{ secrets.DEPLOY }}
          script: |
            rm -rf /var/www/rainbow/*
            cp -r site/* /var/www/rainbow/
